<script>
  import { createEventDispatcher, afterUpdate } from 'svelte';

  export let devices;
  export let showDeviceSettings;

  const dispatch = createEventDispatcher();

  function changeDevice(event) {
    dispatch('changeDevice', {
      deviceId: event.target.value,
      deviceType: event.target.id
    });
  }

  $: devicesMap = [];
  $: deviceTypes = [];

  afterUpdate(() => {
    if (devices) {
      devicesMap = devices.map(device => device.kind);
      deviceTypes = Array.from(new Set(devicesMap));
    }
  });

  function filteredDevices(deviceType) {
    return devices.filter(device => device.kind === deviceType);
  }
</script>

<div
  id="video-settings"
  class="absolute top-0 left-0 right-0 z-10 text-gray-300 duration-300 ease-in transform -translate-y-full bg-gray-800
  shadow-xl"
  class:active={showDeviceSettings}
>
  <div class="flex flex-col justify-center h-16 text-center bg-gray-900">
    <h3 class="text-xl">Media opties</h3>
  </div>
  <div class="p-4 md:p-8">
    {#each deviceTypes as deviceType}
      <div class="mb-2">
        <label class="inline-block w-24 mr-4 text-sm font-medium" for={deviceType}>{deviceType}</label>
        <div class="relative inline-block w-full max-w-sm">
          <select
            class="block w-full px-4 py-2 pr-8 leading-tight text-gray-700 bg-white border border-gray-400 rounded
            shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline"
            id={deviceType}
            on:change={e => changeDevice(e)}
          >
            {#each filteredDevices(deviceType) as device}
              <option value={device.deviceId}>{device.label}</option>
            {/each}
          </select>
          <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
            <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>
    {/each}
  </div>
</div>

<style>
  #video-settings.active {
    transform: translateY(0);
  }
</style>
